# Python
__pycache__/
*.py[cod]
*.so
*.pyd
*.pyo
*.egg-info/
dist/
build/

# Environments
.venv/
env/
venv/
ENV/
*.env
*.env.*

# PyTorch
*.pt
*.pth
*.ckpt

# Jupyter Notebooks
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Data - Ignoring the entire top-level data directory
/data/

# Output files from experiments (but not the images like plots)
outputs/
runs/
results/

checkpoints/

# Temporary files
*.tmp
*.swp
*.bak

# Colab
sample_data/

# Wandb (if used for tracking)
wandb/

# PyCharm
.idea/